@font-face {
    font-family: 'yellowtail';
    src: url("/fonts/yellowtail.ttf");
}

@font-face {
    font-family: 'jmh';
    src: url("/fonts/JMH2.ttf") ;
}

@font-face {
    font-family: 'bungee';
    src: url("/fonts/bungee.ttf");
}


.font-yellowtail {
    font-family: yellowtail;
    text-shadow: 0px 0px 7px #ff1313;
}

.font-bungee {
    font-family: bungee;
}

.font-jmh {
    font-family: jmh;
}

.text-10xl {
    font-size: 110px;
    line-height: 1;
}
.gridcol {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding: 0 0 50px 0;
}